.left-content
  = render 'side-bar'

.right-content
  .right-header
    .right-header__group
      .right-header__group__name
        = @group.name
      .right-header__group__member
        Member: 
        - @group.users.each do |user|
          = user.name + ","
    =link_to edit_group_path(@group.id), class: "right-header__btn link" do
      Edit
  .right-main
    = render partial: 'message', collection: @messages
  .post-message
    = form_for [@group, @message] do |f|
      .post-message__text
        = f.text_field :content, class: "post-message__text__form", placeholder: 'type a message'
        = f.label :image, class: 'post-message__text__mask' do
          = fa_icon 'picture-o', class: 'image-icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'post-message__btn link'